@import "reset";


body {
  font-size: 18px;
  line-height: 1.2em;
}

header,
footer {
  box-shadow: 0;
  padding: 2%;
  background: color(raisin_black);
  color: white;
  transition: all ease-in-out 0.3s;
  z-index: 10;

  &:hover {
    box-shadow: 0 0 .5rem white,
      0 0 1rem color(hot_pink),
  }
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

/*logo*/
.logo-svg {
  stroke: color(raisin_black);
  stroke-width: 2px;
  fill: color(hot_pink);
  filter: drop-shadow(0 5px 1px color(french_violet));
  min-width: 6vw;
  max-width: 7vw;
  transition: all 0.5s ease;

  &:hover {
    stroke-width: 0;
    transform: scale(1.2);
    filter: drop-shadow(-1vw -5px 0 color(jonquil)) drop-shadow(1vw 5px 0 color(french_violet));
  }
}

/**/
/*app header styles*/
.header {
  min-height: 60px;

  .router-link-active {
    color: color(hot_pink);
  }
}

.header a {
  font-size: 20px;
  padding: 0.5em;
  border-radius: 5%;
  font-weight: 900;
  text-shadow: transparent;
  transition: all ease 0.5s;
  text-transform: uppercase;
  background: transparent;

  &:hover {
    transform: scale(1.1);
    text-shadow: 0.1rem 0.1rem 2rem color(jonquil);
    // background: $gradient1;
    // background-size: 400%;
    // animation: gradient_flow ease-in 3.3s infinite alternate-reverse;
  }

}

@keyframes gradient_flow {
  0% {
    background-position: 0%;
  }

  0% {
    background-position: 100%;
  }
}

/*end app header styles*/

/*heading styles*/
h1,
h2,
h3,
h4 {
  font-weight: 900;
  padding: 40px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

/*end heading styles*/
/*container-styles*/
.container {
  padding: 1%;
  max-width: 1200px;
  margin: 0 auto;
}

.container.is-fluid {
  max-width: 100%;
}

/*end-container-styles*/

/*flex-helpers*/
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

/*end-flex-helpers*/

/*columns styles*/
.column {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 3%;
}

.is-full {
  flex-basis: 100%;
}

.is-half {
  flex-basis: 50%;
}

.is-three {
  flex-basis: 26%;
}


/*end columns styles*/

/*text-helpers*/
.is-center {
  text-align: center;
}

.is-right {
  text-align: right;
}

.is-left {
  text-align: left;
}

.is-uppercase {
  text-transform: uppercase;
}

/*end text-helpers*/
/*UI default elems*/
.tag {
  margin: 0.2em;
  padding: 0.2em;
  background: $gradient1;
  font-weight: bold;
}

.button {
  margin: 0.2em;
  padding: 0.5em;
  background: $gradient1;
  font-weight: bold;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  background-size: 100%;
  box-shadow:none;
  &:hover{
    background-size: 400%;
    animation: gradient_flow 6s ease-in infinite alternate;
    transform: scale(1.1);
    box-shadow: 0.1rem 0.1rem 5rem color(jonquil);
    z-index: 2;
  }
}

/*end UI default elems*/
/*hero section*/
.hero {
  background: color(raisin_black);
}

.hero .hero-paragraph p {
  background: white;
  margin-bottom: 0.8em;
  padding: 0.5em;
}

/*end hero-section*/

/*welcome neon sign styles*/
.neon-sign {
  font-size: 80px;
  line-height: 1em;
  white-space: pre-line;
  color: white;
  padding: 0.5em;
  text-shadow: 0.1rem 0.1rem 2rem white,
    0.1rem 0.1rem 2rem white,
    0 0 0.5rem color(hot_pink),
    0 0 1rem color(hot_pink),
    0 0 1.5rem color(hot_pink),
    0 0 2rem color(hot_pink),
    0 0 3rem color(hot_pink);
  box-shadow: 0 0 .5rem white,
    inset 0 0 0.5rem white,
    0 0 1rem color(_turquoise),
    inset 0 0 1rem color(_turquoise),
    0 0 1rem color(_turquoise),
    inset 0 0 1rem color(_turquoise);
  border: 5px solid white;
  border-radius: 5%;
  display: inline-block;
  animation: glow 1.5s 1 alternate-reverse;
  transition: all 1.3s ease-in-out;

  &:hover {
    text-shadow: -0.1rem -0.1rem 1rem white,
      0.1rem 0.1rem 1rem white,
      0 0 1rem color(hot_pink),
      0 0 2rem color(hot_pink),
      0 0 3rem color(hot_pink),
      0 0 4rem color(hot_pink),
      0 0 5rem color(hot_pink);
    box-shadow: 0 0 .5rem white,
      inset 0 0 0.5rem white,
      0 0 1rem color(_turquoise),
      inset 0 0 1rem color(_turquoise),
      0 0 2rem color(_turquoise),
      inset 0 0 2rem color(_turquoise);
    animation: none;
  }
}

@keyframes glow {

  1%,
  22%,
  62%,
  80%,
  100% {
    text-shadow: -0.1rem -0.1rem 1rem white,
      0.1rem 0.1rem 1rem white,
      0 0 1rem color(hot_pink),
      0 0 2rem color(hot_pink),
      0 0 3rem color(hot_pink),
      0 0 4rem color(hot_pink),
      0 0 5rem color(hot_pink);
    box-shadow: 0 0 .5rem white,
      inset 0 0 0.5rem white,
      0 0 1rem color(_turquoise),
      inset 0 0 1rem color(_turquoise),
      0 0 2rem color(_turquoise),
      inset 0 0 2rem color(_turquoise);
  }

  20%,
  60% {
    text-shadow: none;
    box-shadow: none;
  }
}

/*end welcome neon sign styles*/
/*posts grid style*/
.blog-wrapper {
  background: color(raisin_black);
  color: white;
}

.post {
  transition: all 0.5s ease;
  &:hover{
    z-index: 10;
    .post-content{
    transform: scale(1.3);
    box-shadow: 0.1rem 0.1rem 5rem color(_turquoise);
    }
    .post-category{
      margin-bottom: 20px;
    }
  }
  &.column {
    padding: 1%;
  }
  .post-category,
  .post-content,
   .post-tech {
    transition: all 0.5s ease;
  }
  .post-content {
    border: 15px solid color(hot_pink);
    position: relative;
  }

  .post-title {
    max-width: 30vw;
    margin: 0 auto;
  }

  .post-tech {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

/*end posts grid style*/

/*gallery grid styles*/
.gallery {
  cursor: pointer;
  padding: 0;
  margin: 1%;

  .gallery-image {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
  }

  .gallery-heading {
    padding: 1%;
  }
}

/*gallery grid styles*/